.brandNav {
    width: 127px;
    height: 30px;
    left: 150px;
    top: 33px;
}

.picture {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


.top {
    background-color: #5E50A1;
    height: 70px;
    margin-top: 57px;

    .brand {
        font-family: 'Open Sans';
        margin-top: 23px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 15px;
        color: white;
    }
}

.input {
    font-weight: 500;
    font-size: 20px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    margin-bottom: 50px;
}

.input:focus {
    border-bottom: 1px solid #6941c6;
    -webkit-transition: 0.1s;
    transition: 0.5s;
}

.btn, .submit{
    width: 100%;
    height: 50px;
}

.cardStyle {
    border: none !important;
    border-radius: 8px;
}

.profileImage {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    margin-left: 10px;
}

.profileContent {
    margin-left: 30px;

    h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #1F2A36;
    }

    p {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #9EA0A5;
        margin-bottom: 0;
    }
}

.skillBadge {
    background: rgba(251, 176, 23, 0.6) !important;
    border: 1px solid #fbb017;
    border-radius: 4px;
    color: #fff;
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


/* style for footer */
.foot {
    height: 450px;
    background-color: #5E50A1;
    display: flex;
    justify-content: left;
    align-items: baseline;
    // text-align: center;


    .footer {

        .logo {
            margin-top: 70px;
            // margin-left: 20px;
            margin-bottom: 30px;
            width: 178px;
            height: 50px;
        }

        p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: white;
        }
    }

    .footerLink {
        p {
            position: absolute;
            margin-top: 120px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            /* identical to box height, or 100% */
            text-align: center;

            color: white;
        }
    }

    a {
        position: absolute;
        margin-top: 120px;
        margin-left: 20px;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: white;

    }
}




/* end style for footer */